body{
	background-color: #c9c9c9;
	font-family: arial;
}

#wrapper{
	max-width:1500px;
	background-color: green;
	margin: 0 auto;
	background-color: green;
	padding: 15px;
}

header{
	height: 60px;
	margin: 15px;
	padding-bottom: 15px;
}

h1{
	color: yellow;
}

h2{
	color: yellow;
	font-size: 15px;
}

.content{
	overflow: auto;
	max-width: 1500px;
	height: 700px;
	margin: auto;
	background: white;
	padding: 50px;
	margin-top: 0px;
	position: relative;
	display: inline-bloack;
	
}

ul {
    list-style-type: none;
	max-width: 1500px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #818181;
	font-variant: small-caps;
}

ul .p{
	padding-right: 5px;
	
}

li {
    float: left;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #adadad;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #adadad
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active{
	background-color: green;
}


.topnav .search-container button{
  float: right;
  padding: 4px;
  margin-top: 11px;
  margin-right: 14px;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}


* {
  box-sizing: border-box;
}



.container {
	position: relative;
	width: 230px;
	height: 210px;
	display: inline-block;
}


.myAbout{
	display: inline-block;
	padding: 20px;
	text-align: center;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}


.dot-container{
	position: absolute;
	bottom: 20px;
	left: 720px;
}


.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

	
}


/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.image{
	display: block;
	border-radius: 10%;
	width: 230px;
	height: 210px;
}

.overlay{
	position: absolute;
	transition: all .3s ease;
	opacity: 0;
	background-color: #eee;
}

.container:hover .overlay{
	opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlayLeft{
	height: 100%;
	border-radius: 10%;
	background-color: 0ca030;
	width: 0;
	top: 0;
	left: 0;
}

.container:hover .overlayLeft{
	width: 100%;
}


.botnav{
	text-align: center;
	word-spacing: 100px;
	font-size: 15px;
	margin-top: 30px;
	margin-right: 10px;
	
	
}

.botnav a{
	color: #585858;
	text-decoration: none;
	
}

.botnav a:hover{
	color: #e8e8e8;
	
}

.end p{
	text-align: center;
	font-size: 15px;
	bottom: 0px;
	color: #DFDFDF;
	width:100%; 
	text-align: center;
}


